<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('header_login.ejs') %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- 커스텀 스크립트 -->
    <script src="/js/main.js"></script>
    <!-- 커스텀 CSS -->
    <link href="/css/main.css" rel="stylesheet" />
    <link href="/css/font.css" rel="stylesheet" />
    <link href="/css/div.css" rel="stylesheet" />
    <link href="/css/class.css" rel="stylesheet" />

    <style>
      div {
        margin: auto;
        /* border: 1px solid black;*/
      }
    </style>
  </head>
  <body>
    <div style="height: 100px"></div>

    <div class="d-flex flex-wrap justify-content-center" style="justify-content: center; min-width: 1280px">
      <div id="Trading_S" class="col-8 border_A justify-content-center Poc_main_font;min-width: 1080px">
        <div id="box1" class="d-flex flex-wrap justify-content-center border_B">
          <div id="box1-left " class="d-flex flex-wrap justify-content-center col-6">
            <div class="d-flex flex-wrap" style="width: 100%; height: 100%">
              <div id="box1-left-1" class="col-6">
                <div id="box1-left-1-1" class="d-flex flex-wrap justify-content-center">
                  <div id="con-1" class="col-6 border_B border_R">페 이 지</div>
                  <div id="con-2" class="col-6 border_B border_R">DB 연결</div>
                </div>
                <div id="box1-left-1-2" class="d-flex flex-wrap justify-content-center">
                  <div id="con-3" class="col-6 border_B border_R">발행일자</div>
                  <div id="con-4" class="col-6 border_B border_R">DB 연결</div>
                </div>
                <div id="box1-left-1-3" class="d-flex flex-wrap justify-content-center">
                  <div id="con-5" class="col-6 border_B border_R">거래처명</div>
                  <div id="con-6" class="col-6 border_B border_R">D B 연 결</div>
                </div>
              </div>
              <div id="box1-left-2" class="col-6" style="margin: auto">거래명세서</div>

              <div id="box1-left-3" class="col-6 border_R" style="margin: auto">합계금액</div>
              <div id="box1-left-3" class="col-6 border_T" style="margin: auto">D B 연 결</div>
            </div>
          </div>

          <div id="box1-rigth " class="col-6 d-flex flex-wrap border_L">
            <div id="box1-rigth-1" class="col-011" style="margin: auto">
              <div>공</div>
              <div>급</div>
              <div>자</div>
            </div>
            <div id="box1-rigth-2" class="col-019 d-flex flex-wrap">
              <div id="box1-rigth-2-1" class="col-6 border_B border_R border_L">등록번호</div>
              <div id="box1-rigth-2-2" class="col-6 border_B">D B 연 결</div>
              <div id="box1-rigth-2-3" class="col-09 border_B border_R border_L">상호</div>
              <div id="box1-rigth-2-4" class="col-09 border_B">D B 연 결</div>
              <div id="box1-rigth-2-3" class="col-09 border_B border_R border_L">성명</div>
              <div id="box1-rigth-2-4" class="col-09 border_B">D B 연 결</div>
              <div id="box1-rigth-2-3" class="col-6 border_B border_R border_L">주소</div>
              <div id="box1-rigth-2-4" class="col-6 border_B">D B 연 결</div>
              <div id="box1-rigth-2-3" class="col-09 border_R border_L">전화번호</div>
              <div id="box1-rigth-2-4" class="col-09">DB연결</div>
              <div id="box1-rigth-2-3" class="col-09 border_R border_L">팩스</div>
              <div id="box1-rigth-2-4" class="col-09">DB연결</div>
            </div>
          </div>
        </div>
        <div id="box2" class="d-flex flex-wrap justify-content-center">
          <div id="c1" class="col-018 border_B border_R">월 일</div>
          <div id="c2" class="col-014 border_B border_R">품 목 코 드</div>
          <div id="c3" class="col-021 border_B border_R">품 목</div>
          <div id="c4" class="col-011 border_B border_R">규 격</div>
          <div id="c5" class="col-018 border_B border_R">수 량</div>
          <div id="c6" class="col-011 border_B border_R">단 가</div>
          <div id="c7" class="col-014 border_B border_R">공급가액</div>
          <div id="c8" class="col-011 border_B">세 액</div>
          <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
          <div id="c1" class="col-018 border_B border_R">DB</div>
          <div id="c2" class="col-014 border_B border_R">DB</div>
          <div id="c3" class="col-021 border_B border_R">DB</div>
          <div id="c4" class="col-011 border_B border_R">DB</div>
          <div id="c5" class="col-018 border_B border_R">DB</div>
          <div id="c6" class="col-011 border_B border_R">DB</div>
          <div id="c7" class="col-014 border_B border_R">DB</div>
          <div id="c8" class="col-011 border_B">DB</div>
        </div>
        <div id="box3" class="d-flex flex-wrap justify-content-center">
          <div id="cc1" class="col-014 border_B border_R">전 잔금</div>
          <div id="cc2" class="col-013 border_B border_R">DB</div>
          <div id="cc3" class="col-014 border_B border_R">합 계</div>
          <div id="cc4" class="col-013 border_B">DB</div>
          <div id="cc5" class="col-01 border_R">총합계</div>
          <div id="cc6" class="col-022 border_R">DB</div>
          <div id="cc7" class="col-01 border_R">입금</div>
          <div id="cc8" class="col-022 border_R">DB</div>
          <div id="cc9" class="col-01 border_R">총잔액</div>
          <div id="cc10" class="col-02 border_R">DB</div>
          <div id="cc11" class="col-01 border_R">인수자</div>
          <div id="cc12" class="col-022">DB</div>
        </div>
        <!--bill div-->
      </div>
      <!--제일 큰 div-->
    </div>
  </body>
</html>
