<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      table {
        width: 100%;
        border-top: 1px solid #444444;
        border-collapse: collapse;
      }
      th,
      td {
        border-bottom: 1px solid #444444;
        border-left: 1px solid #444444;
        border-right: 1px solid #444444;
        padding: 10px;
      }
    </style>
  </head>
  <body>
    <!-- Nav Bar -->

    <div
      id="Purchase_Order_Board"
      class="d-flex flex-wrap justify-content-center"
      style="justify-content: center"
    >
      <div class="col-014"></div>
      <div class="col-08 d-flex flex-wrap justify-content-center">
        <table>
          <thead>
            <th scope="col">번호</th>
            <th scope="col">제목</th>
            <th scope="col">수신</th>
            <th scope="col">발신</th>
            <th scope="col">상태</th>
            <th scope="col">작성일</th>
            <th scope="col">수정일</th>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>SH0002-AD</td>
              <td>비타민 리프레시(주)</td>
              <td>(주)비비드 뷰티</td>
              <td>임시저장</td>
              <td>2023-01-01</td>
              <td>2023-01-02</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-014"></div>
    </div>
  </body>
</html>
