<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%- include ('header_login.ejs') %>

    <!--비정상 접근 차단-->
    <% if(typeof(pass) === 'undefined') { %>
    <script type="text/javascript">
      alert("비정상적인 접근입니다.");
      window.location.href = "/";
    </script>
    <% } else if(pass == 'NONE') { %>
    <script type="text/javascript">
      alert("로그인이 필요합니다.");
      window.location.href = "/";
    </script>
    <% } else if(typeof(req) === 'undefined') { %>
    <script type="text/javascript">
      alert("비정상적인 접근입니다.");
      window.location.href = "/";
    </script>
    <% } %>

    <script src="/js/table.js"></script>
    <script src="/js/Board_Table.js"></script>
    <script src="/node_modules/jquery/dist/jquery.js"></script>
  </head>
  <body>
    <div class="d-flex flex-wrap justify-content-center" style="margin: 50px 0px; justify-content: center">
      <div class="col-1 d-flex flex-wrap" style="justify-content: left; height: 20px">&nbsp;</div>
      <div class="col-1 d-flex flex-wrap" style="justify-content: left">&nbsp;</div>
      <!--발주서-->
      <div class="col-12" style="height: 50px; z-index: -20"></div>
      <div id="PO3" class="col-10" style="text-align: center; display: block"><%- include ('Purchase_Order_Table.ejs') %></div>
    </div>
  </body>
</html>
