<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- 커스텀 스크립트 -->
    <script src="/js/main.js"></script>
    <!-- 커스텀 CSS -->
    <link href="/css/main.css" rel="stylesheet" />
    <link href="/css/font.css" rel="stylesheet" />
    <link href="/css/div.css" rel="stylesheet" />
    <link href="/css/class.css" rel="stylesheet" />

    <style>
      table {
        width: 100%;
        padding: 0px;
        border: 1px solid #444444;
        border-collapse: collapse;
      }
      th,
      td {
        border: 1px solid #444444;
        padding: 0px;
        font-size: 16px;
      }
    </style>
  </head>
  <body>
    <!-- Nav Bar -->
    <button
      class="btn btn-light"
      onclick="window.open('/Serach','Serach_Company','width =900 ,height = 600')"
      style="font-size: 20px; text-align: end; justify-items: end"
    >
      회사찾기
    </button>
    <div class="d-flex flex-warp justify-content-center" style="justify-content: center">
      <div id="Purchase_Order" style="text-align: center; min-width: 1080px">
        <input
          id="title_PO"
          value=""
          placeholder="제목을 입력해 주세요"
          style="
            width: 100%;
            text-align: center;
            font-size: 32px;
            border-top: 1px solid #444444;
            border-left: 1px solid #444444;
            border-right: 1px solid #444444;
          "
        />

        <div
          style="
            text-align: center;
            font-size: 16px;
            border-bottom: 1px solid #444444;
            border-left: 1px solid #444444;
            border-right: 1px solid #444444;
          "
        ></div>

        <div class="col-12" style="height: 30px">&nbsp;</div>
        <!-- 테이블 -->
        <table>
          <tbody>
            <tr>
              <th>
                <table>
                  <tbody>
                    <tr>
                      <th style="height: 40px">본사명</th>
                      <th>
                        <input
                          type="text"
                          id="Comp_NAME"
                          name="Comp_NAME"
                          value="Comp_NAME"
                          required
                          style="width: 100%; height: 100%; text-align: center"
                        />
                      </th>
                    </tr>
                    <tr>
                      <th style="height: 40px">대표자 성명</th>
                      <th>
                        <input
                          type="text"
                          id="President_NAME"
                          name="President_NAME"
                          value="President_NAME"
                          required
                          style="width: 100%; height: 100%; text-align: center"
                        />
                      </th>
                    </tr>
                    <tr>
                      <th style="height: 40px">주소</th>
                      <th>
                        <input
                          type="text"
                          id="Business_Address"
                          name="Business_Address"
                          value="Business_Address"
                          requiredun
                          style="width: 100%; height: 100%; text-align: center"
                        />
                      </th>
                    </tr>
                    <tr>
                      <th style="height: 40px">Tel.</th>
                      <th>
                        <input type="text" id="TEL" name="TEL" value="TEL" required style="width: 100%; height: 100%; text-align: center" />
                      </th>
                    </tr>
                    <tr>
                      <th style="height: 40px">Fax.</th>
                      <th>
                        <input type="text" id="FAX" name="FAX" value="FAX" required style="width: 100%; height: 100%; text-align: center" />
                      </th>
                    </tr>
                  </tbody>
                </table>
              </th>
              <th>
                <p>공</p>
                <p>급</p>
                <p>자</p>
              </th>
              <th>
                <table>
                  <tbody>
                    <tr>
                      <th>본사명</th>
                      <th>
                        <input
                          type="text"
                          id="Comp_NAME_2"
                          name="Comp_NAME2"
                          value="Comp_NAME2"
                          required
                          style="width: 100%; height: 100%; text-align: center"
                        />
                      </th>
                    </tr>
                    <tr>
                      <th>대표자 성명</th>
                      <th>
                        <input
                          type="text"
                          id="President_NAME_2"
                          name="President_NAME_2"
                          value="President_NAME_2"
                          required
                          style="width: 100%; height: 100%; text-align: center"
                        />
                      </th>
                    </tr>
                    <tr>
                      <th>사업자 번호</th>
                      <th>
                        <input
                          type="text"
                          id="Business_NUM"
                          name="Business_NUM"
                          value="Business_NUM"
                          required
                          style="width: 100%; height: 100%; text-align: center"
                        />
                      </th>
                    </tr>
                    <tr>
                      <th>본사 주소</th>
                      <th>
                        <input
                          type="text"
                          id="Business_Address_2"
                          name="Business_Address_2"
                          value="Business_Address_2"
                          requiredun
                          style="width: 100%; height: 100%; text-align: center"
                        />
                      </th>
                    </tr>
                    <tr>
                      <th>공장 주소</th>
                      <th>
                        <input
                          type="text"
                          id="Business_Address_F"
                          name="Business_Address_F"
                          value="Business_Address_F"
                          required
                          style="width: 100%; height: 100%; text-align: center"
                        />
                      </th>
                    </tr>
                    <tr>
                      <th>발주 담당자</th>
                      <th>
                        <input
                          type="text"
                          id="Manager"
                          name="Manager"
                          value="Manager"
                          required
                          style="width: 100%; height: 100%; text-align: center"
                        />
                      </th>
                    </tr>
                    <tr>
                      <th>Tel.</th>
                      <th>
                        <input type="text" id="TEL2" name="TEL2" value="TEL2" required style="width: 100%; height: 100%; text-align: center" />
                      </th>
                    </tr>
                    <tr>
                      <th>Fax.</th>
                      <th>
                        <input type="text" id="Fax2" name="Fax2" value="Fax2" required style="width: 100%; height: 100%; text-align: center" />
                      </th>
                    </tr>
                  </tbody>
                </table>
              </th>
            </tr>
          </tbody>
        </table>
        <div class="col-12" style="justify-content: end; text-align: left">
          <button type="input" style="border: none; outline: none; width: 25px; height: 25px; font-size: 16px" onclick="delete_row()">-</button>
          <button type="input" style="border: none; outline: none; width: 25px; height: 25px; font-size: 16px" onclick="add_row()">
            <i class="bi bi-plus-lg"></i>
          </button>
        </div>
        <table id="tableId" class="col-12 pc" style="width: 100%; text-align: center; font-size: 1vmax; border-top: 1px solid #444444">
          <thead>
            <tr>
              <th scope="col">No.</th>
              <th scope="col">제품명</th>
              <th scope="col">제품번호</th>
              <th scope="col">규격</th>
              <th scope="col">단위</th>
              <th scope="col">수량</th>
              <th scope="col">공급가액</th>
              <th scope="col">부가세</th>
              <th scope="col">비고</th>
            </tr>
          </thead>
          <tbody id="PO_item_body">
            <tr>
              <th scope="row">1</th>
              <td>
                <input
                  type="text"
                  id="Cannes_1_1"
                  name="Cannes_1_1"
                  value="Cannes_1_1"
                  required
                  style="width: 100%; height: 100%; text-align: center; outline: none; border: none"
                />
              </td>
              <td>
                <input
                  type="text"
                  id="Products_1"
                  name="Products_1"
                  value="Products_1"
                  required
                  style="width: 100%; height: 100%; outline: none; border: none; text-align: center"
                />
              </td>
              <td>
                <input
                  type="text"
                  id="B_1"
                  name="B_1"
                  value="B_1"
                  required
                  style="width: 100%; height: 100%; outline: none; border: none; text-align: center"
                />
              </td>
              <td>
                <input
                  type="text"
                  id="SI_1"
                  name="SI_1"
                  value="SI_1"
                  required
                  style="width: 100%; height: 100%; outline: none; border: none; text-align: center"
                />
              </td>
              <td>
                <input
                  type="text"
                  id="Q_1"
                  name="Q_1"
                  value="Q_1"
                  required
                  style="width: 100%; height: 100%; outline: none; border: none; text-align: center"
                />
              </td>
              <td>
                <input
                  type="text"
                  id="P_1"
                  name="P_1"
                  value="P_1"
                  required
                  style="width: 100%; height: 100%; outline: none; border: none; text-align: center"
                />
              </td>
              <td>
                <input
                  type="text"
                  id="V_1"
                  name="V_1"
                  value="V_1"
                  required
                  style="width: 100%; height: 100%; outline: none; border: none; text-align: center"
                />
              </td>
              <td>
                <input
                  type="text"
                  id="N_1"
                  name="N_1"
                  value="N_1"
                  required
                  style="width: 100%; height: 100%; outline: none; border: none; text-align: center"
                />
              </td>
            </tr>
          </tbody>
        </table>
        <textarea id="remarks" class="border_A" style="border-radius: 0; justify-self: cneter; width: 100%; height: 300px"></textarea>
        <input type="file" id="file-input" multiple />
        <div id="preview" class="d-flex flex-wrap"></div>

        <script>
          let fileNo = 0; // 첨부된 이미지 총 갯수 (삭제되도 줄어들지않음). 이미지마다 다른 id를 지정하기 위함
          let filesArr = []; // 첨부된 모든 파일 리스트 (삭제되도 제거되지않음)

          let maxFileCnt = 10; // 첨부파일 최대 개수
          let attFileCnt = document.querySelectorAll("#preview").length; // 기존 추가된 첨부파일 개수
          // 업로드를 하면 바디에 생성된 태그 갯수로 계산
          let remainFileCnt = maxFileCnt - attFileCnt; // 추가로 첨부가능한 개수

          // 첨부파일 개수 확인
          // 최대 개수 초과 시

          $("input[id=file-input]")
            .off()
            .on("change", function () {
              if (parseInt($("input[id='file-input']")[0].files.length) > maxFileCnt) {
                alert("You can only upload a maximum of" + maxFileCnt + "files");
                $(this).val("");
              }
              maxFileCnt = maxFileCnt - parseInt($("input[id='file-input']")[0].files.length);
              alert("1");
              for (var i = 0; i < parseInt($("input[id='file-input']")[0].files.length); i++) {
                alert(i);
                if (this.files[i] && this.files[i]) {
                  var maxSize = 100 * 1024 * 1024;
                  var fileSize = this.files[i].size;

                  if (fileSize > maxSize) {
                    maxFileCnt = maxFileCnt + parseInt($("input[id='file-input']")[0].files.length);
                    alert("첨부파일 사이즈는 100MB 이내로 등록 가능합니다.");
                    $(this).val("");
                    return false;
                  }
                }
              }
            });

          const handler = {
            init() {
              const fileInput = document.querySelector("#file-input");
              const preview = document.querySelector("#preview");
              fileInput.addEventListener("change", () => {
                console.dir(fileInput);
                const files = Array.from(fileInput.files);
                files.forEach((file) => {
                  preview.innerHTML += `
                              <div id="${file.lastModified}">
                                  ${file.name}
                                  <button data-index='${file.lastModified}' class='file-remove' style = "background-color : white; outline:none; border:none">X</button>
                              </div>`;
                });
              });
            },

            removeFile: () => {
              document.addEventListener("click", (e) => {
                if (e.target.className !== "file-remove") return;
                const removeTargetId = e.target.dataset.index;
                const removeTarget = document.getElementById(removeTargetId);
                const files = document.querySelector("#file-input").files;
                const dataTranster = new DataTransfer();

                // document.querySelector('#file-input').files =
                //             Array.from(files).filter(file => file.lastModified !== removeTarget);

                Array.from(files)
                  .filter((file) => file.lastModified != removeTargetId)
                  .forEach((file) => {
                    dataTranster.items.add(file);
                  });

                document.querySelector("#file-input").files = dataTranster.files;
                maxFileCnt++;
                removeTarget.remove();
              });
            },
          };

          handler.init();
          handler.removeFile();
        </script>
      </div>
    </div>
  </body>
</html>
