<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('header_login.ejs') %>

    <script src="/js/Purchase_Order_M_Button.js"></script>
    <style>
      input {
        outline: none;
        border: none;
      }
    </style>
    <script src="/js/table.js"></script>
  </head>
  <body>
    <!-- Nav Bar -->

    <div class="d-flex flex-wrap justify-content-center" style="margin: 50px 0px; justify-content: center">
      <div class="col-1 d-flex flex-wrap" style="justify-content: left; height: 20px">&nbsp;</div>
      <div class="col-5 d-flex flex-wrap" style="justify-content: left; height: 20px" class="btn btn-light">
        <button onclick="F_Purchase_Order()" style="font-size: 20px" class="btn btn-light">발 주 서</button>
      </div>

      <div class="d-flex flex-wrap" style="justify-content: right; height: 20px">
        <button class="btn btn-light" onclick="" style="font-size: 20px">취소</button>

        <button type="submit" class="btn btn-light" onclick="F_Board()" style="font-size: 20px">목록</button>

        <button class="btn btn-light" onClick="Save_PO()" style="font-size: 20px">저장</button>
      </div>
      <button class="btn btn-light" onclick="onclick=window.print()" style="font-size: 20px">인쇄</button>
      <div class="col-1 d-flex flex-wrap" style="justify-content: left">&nbsp;</div>
      <!--발주서-->
      <div class="col-12" style="height: 50px; z-index: -20"></div>

      <!--세금계산서-->
      <div id="PO3" class="col-10" style="text-align: center; display: none"><%- include ('Purchase_Order_Table.ejs') %></div>
      <div id="PO5" class="col-10" style="text-align: center; display: none"><%- include ('Purchase_Order_Board.ejs') %></div>
    </div>
  </body>
</html>
