<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="/js/Board_Table.js"></script>
    <style>
      table {
        width: 100%;
        border-top: 1px solid #444444;
        border-collapse: collapse;
      }
      th,
      td {
        border-bottom: 1px solid #444444;
        border-left: 1px solid #444444;
        border-right: 1px solid #444444;
      }
    </style>
  </head>
  <body>
    <!-- Nav Bar -->
    <div id="Purchase_Order_Board_Div" class="d-flex flex-wrap justify-content-center" style="justify-content: center">
      <div class="col-08 d-flex flex-wrap justify-content-center">
        <table>
          <thead>
            <th scope="col">번호</th>
            <th scope="col">제목</th>
            <th scope="col">수신</th>
            <th scope="col">발신</th>
            <th scope="col">상태</th>
            <th scope="col">작성일</th>
            <th scope="col">수정일</th>
          </thead>
          <tbody onclick="Change_PO" id="Purchase_Order_Board"></tbody>
        </table>
      </div>
    </div>
  </body>
</html>
